name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: macos-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'

      - name: Make package.sh executable
        run: chmod +x ./build/package.sh

      - name: Build Mac App
        run: |
          ./build/package.sh
          
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            build/GarageBand Launcher.app.zip
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 